build/ExportOptions.plist
build/SpaghettiTimer.xcarchive/Info.plist
build/SpaghettiTimer.xcarchive/dSYMs/SpaghettiTimer.app.dSYM/Contents/Info.plist
build/SpaghettiTimer.xcarchive/dSYMs/SpaghettiTimer.app.dSYM/Contents/Resources/DWARF/SpaghettiTimer
build/SpaghettiTimer.xcarchive/dSYMs/SpaghettiTimer.app.dSYM/Contents/Resources/Relocations/aarch64/SpaghettiTimer.yml
build/SpaghettiTimer.xcarchive/dSYMs/SpaghettiTimerWidgetExtension.appex.dSYM/Contents/Info.plist
build/SpaghettiTimer.xcarchive/dSYMs/SpaghettiTimerWidgetExtension.appex.dSYM/Contents/Resources/DWARF/SpaghettiTimerWidgetExtension
build/SpaghettiTimer.xcarchive/dSYMs/SpaghettiTimerWidgetExtension.appex.dSYM/Contents/Resources/Relocations/aarch64/SpaghettiTimerWidgetExtension.yml
build/SpaghettiTimer.xcarchive/Products/Applications/SpaghettiTimer.app/AppIcon60x60@2x.png
build/SpaghettiTimer.xcarchive/Products/Applications/SpaghettiTimer.app/AppIcon76x76@2x~ipad.png
build/SpaghettiTimer.xcarchive/Products/Applications/SpaghettiTimer.app/Assets.car
build/SpaghettiTimer.xcarchive/Products/Applications/SpaghettiTimer.app/embedded.mobileprovision
build/SpaghettiTimer.xcarchive/Products/Applications/SpaghettiTimer.app/Info.plist
build/SpaghettiTimer.xcarchive/Products/Applications/SpaghettiTimer.app/PkgInfo
build/SpaghettiTimer.xcarchive/Products/Applications/SpaghettiTimer.app/SpaghettiTimer
build/SpaghettiTimer.xcarchive/Products/Applications/SpaghettiTimer.app/_CodeSignature/CodeResources
build/SpaghettiTimer.xcarchive/Products/Applications/SpaghettiTimer.app/Metadata.appintents/extract.actionsdata
build/SpaghettiTimer.xcarchive/Products/Applications/SpaghettiTimer.app/Metadata.appintents/version.json
build/SpaghettiTimer.xcarchive/Products/Applications/SpaghettiTimer.app/PlugIns/SpaghettiTimerWidgetExtension.appex/embedded.mobileprovision
build/SpaghettiTimer.xcarchive/Products/Applications/SpaghettiTimer.app/PlugIns/SpaghettiTimerWidgetExtension.appex/Info.plist
build/SpaghettiTimer.xcarchive/Products/Applications/SpaghettiTimer.app/PlugIns/SpaghettiTimerWidgetExtension.appex/SETUP.md
build/SpaghettiTimer.xcarchive/Products/Applications/SpaghettiTimer.app/PlugIns/SpaghettiTimerWidgetExtension.appex/SpaghettiTimerWidgetExtension
build/SpaghettiTimer.xcarchive/Products/Applications/SpaghettiTimer.app/PlugIns/SpaghettiTimerWidgetExtension.appex/_CodeSignature/CodeResources
build/SpaghettiTimer.xcarchive/Products/Applications/SpaghettiTimer.app/PlugIns/SpaghettiTimerWidgetExtension.appex/Metadata.appintents/extract.actionsdata
build/SpaghettiTimer.xcarchive/Products/Applications/SpaghettiTimer.app/PlugIns/SpaghettiTimerWidgetExtension.appex/Metadata.appintents/version.json
